{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h1>Edit Account</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_account_index') }}">back to list</a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
