{% extends 'base.html.twig' %}

{% block title %}New Account{% endblock %}

{% block body %}
    <h1>Create new Account</h1>

    {{ include('account/_form.html.twig') }}

    <a href="{{ path('app_account_index') }}">back to list</a>
{% endblock %}
