{% extends 'base.html.twig' %}

{% block title %}Edit ProxyRoute{% endblock %}

{% block body %}
    <h1>Edit ProxyRoute</h1>

    {{ include('proxy_route/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proxy_route_index') }}">back to list</a>

    {{ include('proxy_route/_delete_form.html.twig') }}
{% endblock %}
