{% extends 'base.html.twig' %}

{% block title %}New ProxyRoute{% endblock %}

{% block body %}
    <h1>Create new ProxyRoute</h1>

    {{ include('proxy_route/_form.html.twig') }}

    <a href="{{ path('app_proxy_route_index') }}">back to list</a>
{% endblock %}
